.modal {
  position: fixed;
  padding: 1em 0;
  overflow-y: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
  &__content {
    position: relative;
    max-width: 90vw;
    width: fit-content;
  }
  &__CloseButton {
    margin: 0;
    position: absolute;
    top: 1em;
    right: -1px;
    margin-left: auto;
    opacity: 1;

    z-index: 1000;
    // Скрываем на десктопе
    @media (min-width: 769px) {
      display: none;
    }
  }
}
