@use "../../../shared//styles/templates/flex";
@use "../../../shared//styles/templates/heading";
@use "../../../shared//styles/templates/button";
.cart {
  padding: 0 2em;
  &__list {
    @extend %flex-column;
    column-gap: 20px;
    margin-bottom: 20px;
  }
  &__item {
    width: 100%;
  }

  &__result {
    @extend %flex-row;
    margin-bottom: 20px;
    padding: clamp(1em, 2vw, 2em);
    border-radius: 24px;
    background-color: #fff;
    @media (max-width: 768px) {
      flex-direction: column;
      row-gap: 0.5em;
    }
  }
  &__button {
    @extend %button;
    padding: 17px clamp(0px, 7vw, 93px);
  }
  &__price {
    @extend %flex-row;
    column-gap: 16px;
    font-size: clamp(1.5rem, 2vw, 2rem);
    font-weight: 400;
    @media (max-width: 768px) {
      flex-direction: column;
      row-gap: 0.5em;
    }
  }
}
