@use "../../styles/templates/flex";
.header {
  padding: 1em 2em;
  &__content,
  &__container {
    @extend %flex-row;
    color: #000;
  }

  &__content {
    column-gap: 5.75em;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__burger {
    display: none; // Скрыть на десктопе
    flex-direction: column;
    justify-content: space-around;
    width: 24px;
    height: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;

    span {
      width: 100%;
      height: 2px;
      background: #000;
      transition: all 0.3s ease;
    }

    @media (max-width: 768px) {
      display: flex;
    }
  }
}
