@use "../../styles/templates/flex";
@use "../../styles/templates/heading";
@use "../../styles/templates/button";

.goods {
  background-color: #f9f9f9;
  border-radius: 20px;
  overflow: hidden;
  &__swiper {
    padding: clamp(0px, 7vw, 125px) 0;
    width: 100%;
  }
  &__wrapper {
    @extend %flex-column;
    align-items: center;
    width: 100%;
  }
  &__slide {
    width: 100%;
    max-height: 300px;
  }
  &__img {
    margin-inline: auto;
    object-fit: cover;
    @media (max-width: 668px) {
      height: auto;
    }
  }
  &__info {
    padding: clamp(1em, 2vw, 2em);
    background-color: #fff;
  }
  &__header {
    @extend %flex-row;
    justify-content: flex-end;
    flex-wrap: wrap;
    column-gap: clamp(1.2rem, 3vw, 3rem);
    row-gap: 0.8em;
    padding: 20px 0;

    border-bottom: 1px solid #b3b3b3;
    @media (max-width: 368px) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
  &__heading {
    @extend %heading--secondery;
    font-size: clamp(1.5rem, 3vw, 3rem);
    margin-right: auto;
    font-weight: 400;
    @media (max-width: 368px) {
      margin-right: 0;
    }
  }
  &__price {
    font-size: clamp(1.5rem, 3vw, 3rem);
  }
  &__button {
    @extend %button;
    padding: 0.75em clamp(2.5rem, 3vw, 3.8rem);
    font-size: clamp(1rem, 1.5vw, 1.25rem);
  }
}
.specifications {
  width: 50%;
  padding: 20px 0;
  padding-bottom: clamp(0px, 7vw, 125px);
  &__field {
    @extend %flex-row;
    flex-wrap: wrap;
    padding: 12px 0;
    border-bottom: 1px solid #f9f9f9;
  }

  &__header {
    @extend %heading;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 8px;
  }
  @media (max-width: 668px) {
    width: 100%;
  }
}
