@use "_variables.scss" as v;
@use "templates/flex";
@use "templates/heading";
@use "templates/button";
.cart {
  &__list {
    @extend %flex-column;
    column-gap: 20px;
    margin-bottom: 20px;
  }
  &__item {
    width: 100%;
  }

  &__result {
    @extend %flex-row;
    margin-bottom: 20px;
    padding: 32px;
    border-radius: 24px;
    background-color: #fff;
  }
  &__button {
    @extend %button;
    padding: 17px 93px;
  }
  &__price {
    @extend %flex-row;
    column-gap: 16px;
    font-size: 36px;
    font-weight: 400;
  }
}

.card {
  @extend %flex-row;
  padding: 32px;
  background-color: #fff;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  &__info {
    @extend %flex-row;
    justify-content: flex-start;
    column-gap: 32px;
  }
  &__heading {
    font-size: 36px;
    font-weight: 400;
  }
  &__description {
    font-size: 24px;
    color: #b3b3b3;
  }
  &__picture {
    @extend %flex-row;
    max-width: 324px;
    max-height: 110px;
  }
  &__img {
    object-fit: contain;
  }

  &__right {
    @extend %flex-row;
  }
  &__quantity {
    @extend %flex-row;
    margin-right: 30px;
    column-gap: 52px;
    font-size: 36px;
    font-weight: 400;
  }
  &__btn {
    @extend %button;
    position: relative;
    padding: 32px;
    border-radius: 16px;
    background-color: #f9f9f9;
    color: #000;
    border-color: transparent;
    svg {
      position: absolute;
      inset: 0;
      margin: auto;
      width: fit-content;
      height: fit-content;
    }
    &:hover {
      color: #fff;
    }
    &__tr {
      background-color: transparent;
      padding: 24px;
    }
    &[disabled] {
      cursor: context-menu;
      color: #00000079;
      &:hover {
        color: #00000079;
        background-color: #f9f9f9;
      }
    }
  }
  &__price {
    margin-right: 20px;
    font-size: 36px;
  }
}
