@use "_variables.scss" as v;
@use "templates/flex";
@use "templates/button";
@use "templates/heading";
@use "templates/link";

.form {
  @extend %flex-column;
  height: 100%;

  &__container {
    @extend %flex-column;
    padding: 20px 32px;
    max-width: 34em;
    background-color: #fff;
    row-gap: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    form {
      @extend %flex-column;
      width: 100%;
      row-gap: 20px;
    }
  }

  &__heading {
    @extend %heading;
    font-weight: 500;
  }

  &__input {
    padding: 12px 24px;
    width: 100%;
    position: relative;
    outline: none;
    background-color: #f9f9f9;
    border: 1px solid #b3b3b3;
    font-weight: 300;
    font-size: 20px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }

  &__bts {
    display: flex;
    column-gap: 10px;
  }

  &__button {
    @extend %button;
  }

  &__button_transparent {
    @extend %button--transparent;
  }

  &__description {
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 20px;
  }

  &__link {
    @extend %link-classic;
  }
}
