@use "_variables.scss" as v;
@use "templates/flex";
@use "templates/heading";
@use "templates/button";

.goods {
  &__container {
  }
  &__swiper {
    padding: 125px 0;
    width: 100%;
  }
  &__wrapper {
    @extend %flex-column;
    align-items: center;
    width: 100%;
  }
  &__slide {
    width: 100%;
    max-height: 300px;
  }
  &__img {
    margin-inline: auto;
    object-fit: cover;
  }
  &__info {
    background-color: #fff;
  }
  &__header {
    @extend %flex-row;
    justify-content: flex-end;
    column-gap: 48px;
    padding: 20px 0;
    border-bottom: 1px solid #b3b3b3;
  }
  &__heading {
    @extend %heading--secondery;
    margin-right: auto;
    font-weight: 400;
  }
  &__price {
    font-size: 3rem;
  }
  &__button {
    @extend %button;
    padding: 15px 77px;
    font-size: 20px;
  }
}
.specifications {
  padding: 20px 0;
  padding-bottom: 125px;
  &__field {
    @extend %flex-row;
    flex-wrap: wrap;
    max-width: 50%;
    padding: 12px 0;
    border-bottom: 1px solid #f9f9f9;
  }

  &__header {
    @extend %heading;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 8px;
  }
}
