@use "_variables.scss" as v;
@use "templates/flex";
.header {
  padding: 1em 0;

  &__container,
  &__navList,
  &__right {
    @extend %flex-row;
    color: #000;
  }

  &__navList {
    column-gap: 5.75em;
    font-weight: 300;
  }

  &__right {
    column-gap: 2em;
  }
  &__link {
    transition: all v.$t-middle ease-in-out;
    -webkit-transition: all v.$t-middle ease-in-out;
    -moz-transition: all v.$t-middle ease-in-out;
    -ms-transition: all v.$t-middle ease-in-out;
    -o-transition: all v.$t-middle ease-in-out;
  }
  &__link:hover {
    color: #db2626;
  }

  &__link__img {
    @extend %flex-row;
    column-gap: 0.5em;
  }
}
