@use "_variables.scss" as v;
@use "templates/flex";
@use "templates/heading";
@use "templates/button";
.hero {
  &__container {
    max-width: 1920px;
    margin-inline: auto;
  }
}
.mainOffer {
  @extend %flex-column;
  padding: 44px 0;
  width: 100%;

  &__price {
    padding: 18px 30px 18px 52px;
    align-self: flex-end;
    font-size: 1.5rem;
    background-image: url("../../public/icon/LineR.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    strong {
      font-size: 3rem;
    }
  }
  &__picture {
    @extend %flex-row;
    width: 100%;
    justify-content: center;
  }
  &__img {
    margin-inline: auto;
    object-fit: cover;
  }
  &__info {
    @extend %flex-row;
    align-items: flex-end;
    column-gap: 28px;
    padding: 21px 10px;
    background-image: url("../../public/icon/LineL.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    font-size: 20px;
  }
  &__heading {
    @extend %heading--main;
    font-weight: 900;
  }
}

.catalog {
  padding: 20px 0;
  margin-bottom: 81px;
  background-color: #fff;
  &__heading {
    @extend %heading--secondery;
    margin-bottom: 20px;
    font-weight: 500;
  }
  &__category {
    margin-bottom: 20px;
  }
  &__list {
    @extend %flex-row;
    justify-content: flex-start;
    column-gap: 10px;
  }
  &__button {
    @extend %button;
    @extend %button--min;
    @extend %button--gray;

    &__red {
      @extend %button--red;
    }
  }
  &__product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
  }
  &__pagination {
    @extend %flex-row;
    padding-top: 20px;
    justify-content: center;
    column-gap: 10px;
    .btn {
      @extend %button;

      @extend %button--gray;
    }
    .active {
      background-color: #d62430;
      color: #fff;
    }
  }
}

.serchForm {
  width: 100%;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border: 1px solid #f9f9f9;

  font-weight: 300;
  font-size: 20px;
  border-radius: 20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;

  &__field {
    @extend %flex-row;
    padding-left: 27px;
    justify-content: flex-start;
    column-gap: 13px;
  }

  &__input {
    padding: 12px 24px 12px 0;
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
  }
}

.card {
  @extend %flex-column;
  align-items: center;
  padding: 16px;
  max-width: 604px;
  background-color: #f9f9f9;
  border-radius: 20px;
  column-gap: 6px;
  &__bottom {
    width: 100%;
  }
  &__tag {
    @extend %button;
    @extend %button--min;
    @extend %button--transparent;
    border-color: transparent;
    background-color: #fff;
  }
  &__info {
    @extend %flex-row;
    justify-content: flex-start;
  }
  &__heading {
    max-width: 10em;
    margin-right: 13px;
    font-size: 20px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &__description {
    font-size: 1rem;
    color: #b3b3b3;
  }
  &__cost {
    margin-left: auto;
    font-size: 2rem;
  }
  &__img {
    object-fit: cover;
  }
}
