@use "_variables.scss" as v;
@use "templates/flex";
@use "templates/heading";
.hero {
  &__container {
    max-width: 1920px;
  }
}
.mainOffer {
  @extend %flex-column;
  padding: 44px 0;
  width: 100%;

  &__price {
    padding: 18px 30px 18px 52px;
    align-self: flex-end;
    font-size: 1.5rem;
    background-image: url("../../public/icon/LineR.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    strong {
      font-size: 3rem;
    }
  }
  &__picture {
    @extend %flex-row;
    width: 100%;
    justify-content: center;
  }
  &__info {
    @extend %flex-row;
    align-items: flex-end;
    column-gap: 28px;
    padding: 21px 10px;
    background-image: url("../../public/icon/LineL.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    font-size: 20px;
  }
  &__heading {
    @extend %heading--main;
    font-weight: 900;
  }
}
