.formInput {
  width: 100%;
  position: relative;
  &__label {
    padding: 0.1em;
    color: #b3b3b3;
    position: absolute;
    z-index: 1;
    inset: 0;
    height: min-content;
    width: fit-content;
    margin: auto auto auto 1em;
    font-size: 1.2rem;
    cursor: auto;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  &__group {
    position: relative;
    width: 100%;
  }
  &__input {
    width: 100%;
    padding: 12px 24px;
    outline: none;
    border: 1px solid #b3b3b3;
    border-radius: 8px;
    font-weight: 300;
    font-size: 20px;
  }
  &:focus-within,
  &:has(input:not(:placeholder-shown)),
  &:has(input:-webkit-autofill) {
    label {
      border-radius: 0.5em;
      background-color: white;
      color: black;
      transform: translateY(-100%) translateX(-10%) scale(0.8);
      -webkit-transform: translateY(-100%) translateX(-10%) scale(0.8);
      -moz-transform: translateY(-100%) translateX(-10%) scale(0.8);
      -ms-transform: translateY(-100%) translateX(-10%) scale(0.8);
      -o-transform: translateY(-100%) translateX(-10%) scale(0.8);
      -webkit-border-radius: 0.5em;
      -moz-border-radius: 0.5em;
      -ms-border-radius: 0.5em;
      -o-border-radius: 0.5em;
    }
  }
  &__input:-webkit-autofill {
    background-color: white !important ;
  }
  &__error {
    color: red !important ;
  }
}
