%button {
  padding: 17px 41px;
  display: inline-block;
  outline: 3px solid transparent;
  border: 1px solid #000;
  border-radius: 8px;
  background-color: #000;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
  box-shadow: none;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  &:disabled {
    opacity: 0.8;
    cursor: context-menu;
  }
  &:hover:not(:disabled) {
    background-color: #d62430;
  }

  &--min {
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 300;
  }
  &--transparent {
    color: #000;
    border-color: #b3b3b3;
    background-color: transparent;

    &:hover {
      background-color: #00000021;
    }
  }
  &--gray {
    background-color: #f9f9f9;
    border-color: #f9f9f9;
    color: #000;
    &:hover {
      background-color: #d62430c5;
    }
  }
  &--red {
    background-color: #d62430;
    border-color: #d62430;
    color: #fff;

    &:hover {
      background-color: #d62430c5;
    }
  }
}
