%heading,
%heading--main,
%heading--secondery {
  margin: 0;
  padding: 0;
  font-size: 2.25rem;
  font-weight: 100;
}

%heading--main {
  font-size: 6rem;
}

%heading--secondery {
  margin: 0;
  font-size: 3rem;
}
