*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
  text-wrap: balance;
}

html,
body,
#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 2;
}

body {
  scroll-behavior: smooth;
  background-color: #f9f9f9;
  transition: color var(--t-middle) ease-in,
    background-color var(--t-fast) ease-in;

  font-family: "inter";
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

samp {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: column;
  display: flex;
  row-gap: 0.5em;
  -moz-column-gap: 0.5em;
  column-gap: 0.5em;
}

.container {
  max-width: 116em;
  margin-inline: auto;
}

.signin {
  overflow: hidden;
}
