@use "../../styles/templates/flex";
@use "../../styles/templates/button";

.category {
  @extend %flex-row;

  justify-content: flex-start;
  column-gap: 10px;

  @media (max-width: 1270px) {
    padding: 1em;
  }
  &__button {
    @extend %button;
    @extend %button--min;
    @extend %button--gray;
    text-wrap: nowrap;
    &__red {
      @extend %button--red;
    }
  }
}
