%heading,
%heading--main,
%heading--secondery {
  margin: 0;
  padding: 0;
  font-size: clamp(1.5rem, 3vw, 2.25rem);
  font-weight: 100;
}

%heading--main {
  font-size: clamp(2rem, 5vw, 6rem);
}

%heading--secondery {
  margin: 0;
  font-size: clamp(1.8rem, 3vw, 3rem);
}
