.burgerMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 100;
  color: #fff;
  &__open {
    transform: translateX(0);
  }

  &__closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
  }

  &__content {
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;
    font-size: 1.2rem;
  }
}
