@font-face {
  font-family: "inter";
  src: url("../../pages/fonts/Inter_28pt-Light.woff2") format("woff2"),
    url("../../pages/fonts/Inter_28pt-Light.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url("../../pages/fonts/Inter_28pt-Regular.woff2") format("woff2"),
    url("../../pages/fonts/Inter_28pt-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url("../../pages/fonts/Inter_28pt-Medium.woff2") format("woff2"),
    url("../../pages/fonts/Inter_28pt-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
  text-wrap: balance;
}

html,
body {
  height: 100%;
}

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 2;
}

body {
  scroll-behavior: smooth;
  background-color: #f9f9f9;
  transition: color var(--t-middle) ease-in,
    background-color var(--t-fast) ease-in;

  font-family: "inter";
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

samp {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: column;
  display: flex;
  row-gap: 0.5em;
  -moz-column-gap: 0.5em;
  column-gap: 0.5em;
}

.container {
  max-width: 116em;
  margin-inline: auto;
}
